body{
    margin: 20px 0px 0px 0px;
    background-color: #f6f5de;
    font-family: 'Fira Sans', sans-serif;    
    text-align: center;
    width: 100%;
}

h1{
    margin: 0px;
}

.reload a,
.reload a:hover{
    color: #fff4e0;
    text-decoration: none;
}

a{
    color: #100000;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button {
    background-color: transparent;
    border: none;
    color: #100000;
    text-align: center;
    font-size: 1.5em;
}

.to_do_wrapper{
    margin: 0px 0px 40px 0px;
}

.to_do_container, 
.complete_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.title,
.author{
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9em;
    padding-right: 40px;
    width: 20%;
    text-align: left;
}

.author{
    font-style: italic;
}

.add_wrapper{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.entry{
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 5px;
}

.button_container{
    display: flex;
    justify-content: center;
}

input[type=text], 
input[type=submit], 
.reload{
    background-color: #100000;
    border: 1px solid #100000;
    font-family: 'Rajdhani', sans-serif;
    color: #fff4e0;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 10px;
}

input[type=text]{
    width: 200px;
}

input[type=submit], 
.reload{
    background-color: #be6700;
    border: 1px solid #be6700;
    font-weight: bold;
    margin: 0px;
}

.reload{
    color: #fff4e0;
    margin-left: 5px;
}

.success_message{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.new_post_message{
    width: 300px;
    background-color: #fff;
}

.footer{
    font-size: 0.7em;
    margin-top: 50px;
    background-color: #eae9ce;
    padding: 10px;
}



@media screen and (max-width: 600px){
    .to_do_container, 
    .complete_container{
        padding: 10px;
    }
}